

html {
    background-color: #5b6c7e;
}

/* where everything takes place */
#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #5b6c7e;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 8px 7px 20px 15px #888;
    font-family: Open Sans;
    margin-top: 18rem;
}

/* the whole webpage */
body {
    font-family: Open Sans;
    margin-top: 18rem;
    /* I found rem in this lesson through research */
}

/* the title of the quiz */
h1, h4 {
    display: flex;
    justify-content: center;
}

h4 {
    color: rgb(156, 156, 156);
}

/* styling of title of quiz */
#title {
    font-size: x-large;
    font-style: italic;
}

.rules {
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 2rem;
}

/* the button element */
.navEl {
    position: relative;
    float:right;
    background-color: #5b6c7e;
}

/* the button that you click to move to the next question */
.navBtn {
    background: #5b6c7e;
    color: #888;
}


/* the text from the button to move to the next question */


/* where the quiz takes place */
#quiz {
    text-indent: 10px;
}

/* the questions */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
